body {
    font-family: "Comic Sans MS", "QD Better Comic Sans", sans-serif;
}

#calc-container {
    height: 500px;
    width: 400px;
    background-color: #4A5759;
    border: 5px solid black;
    border-radius: 10px;
    padding: 15px;
}

.display {
    border: 2px solid #DEDBD2;
    border-radius: 5px;
    box-sizing: border-box;
    height: 75px;
    background-color: whitesmoke;
}

.nonDisplay {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
}

div#digits {
}

div.operators,
div.digits,
#sum,
#clear,
#del {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
}

div.digits {
  background-color: #EDAFB8;
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 7; */
}

div.operators {
    background-color: #B0C4B1;
    /* grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7; */
}

.sumClear {
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; */
}

#clear,
#sum,
#del {
    background-color: #F7E1D7;
}